<nav id="mainnav">
  <p id="menuWrap">
    <a id="menu">
      <span id="menuBtn"></span>
    </a>
  </p>
  <div class="panel">
    <ul>
      <li><a href="#header">TOP</a></li>
      <li><a href="#item1">PROFILE</a></li>
      <li><a href="#item2">SKIL</a></li>
      <li><a href="#item3">WORKS</a></li>
      <li><a href="#item4">STORY</a></li>
    </ul>
  </div>
</nav>

<header id="header">
  <%= image_tag "bg1.jpg" %>
  <div id="title">
    <h1>Yamaguchi Takahiro's Portfolio</h1>
    <h2>ポートフォリオサイト</h2>
  </div>
</header>


<section id="item1">
  <header>
    <h2>PROFILE</h2>
  </header>
  <div class="inner">
    <ul class="col2">
      <li>
        <dl>
          <dt>名前</dt>
          <dd>山口 貴弘</dd>
          <dt>出身</dt>
          <dd>愛知県</dd>
          <dt></dt>
          <dd></dd>
          <dt></dt>
          <dd></dd>
          <dt></dt>
          <dd></dd>
          <dt></dt>
          <dd></dd>
        </dl>
      </li>
      <li>
        <div class="image">
          <%= image_tag "profileimg.png", class: "profileimg" %>
        </div>
      </li>
    </ul>
  </div>
</section>

<section id="item2">
  <header>
    <h2>SKIL</h2>
  </header>
  <div class="status">
    <span class="skill">HTML (Haml)・CSS (Sass)</span>
    <span class="skill_level">★★★★★★☆☆☆☆<br/></span>
    Bootstrap等のフレームを使用せず、１からページを作成する事ができます<br/>
    <br/>

    <span class="skill">Ruby</span>
    <span class="skill_level">★★★★★☆☆☆☆☆<br/></span>
    簡単なアルゴリズムを記述する事ができます<br/>
    <br/>
    
    <span class="skill">Ruby on Rails</span>
    <span class="skill_level">★★★★★☆☆☆☆☆<br/></span>
    CRUD機能を持ったWEBアプリを作成する事ができます<br/>
    <br/>

    <span class="skill">JavaScript (jQuery)</span>
    <span class="skill_level">★★★★☆☆☆☆☆☆<br/></span>
    Ajaxの実装、onメソッド等による動きを実装する事ができます<br/>
    <br/>
  </div>
</section>

<section id="item3">
  <header>
    <h2>WORKS</h2>
  </header>
  <div class="inner">
    <ul class="col3">
      <li>
        <h2>YACHO!</h2>
        <%= link_to image_tag("worksimg1.png"), "https://yyacho.herokuapp.com/" , size: "288 x 288", alt: "" %>
        <p>
          GoogleMapAPI を使用した野鳥情報共有アプリ<br/>
          他にもMarkerClusterer等のライブラリを使用<br/>
          プログラミング学習開始後２ヶ月で開発実施<br/>
          開発期間 約40時間<br/>
          [Ruby on Rails, HTML, CSS, JavaScript, Ajax]<br/>
          <%= link_to "GitHub", "https://github.com/Guchi-Y/Yacho" %>
        </p>
      </li>
      <li>
        <h2>Portfolio Site</h2>
        <%= image_tag "worksimg2.png", size: "288 x 288", alt: "" %>
        <p>
          現在見ているこのサイトです<br/>
          レスポンシブに対応しています<br/>
          [Ruby on Rails, HTML, CSS, JavaScript]
        </p>
      </li>
      <li>
        <h2>ぶろぐ</h2>
        <%= link_to image_tag("worksimg3.png"),"https://blog-guchi.herokuapp.com/" , size: "288 x 288", alt: "" %>
        <p>
          簡単なSNSアプリ<br/>
          一番のこだわりは投稿削除時に出る確認ウィンドウ<br/>
          プログラミング学習開始後１ヶ月で開発実施<br/>
          開発期間 約20時間<br/>
          [Ruby on Rails, HTML, CSS, JavaScript, Ajax]<br/>
          <%= link_to "GitHub", "https://github.com/Guchi-Y/Blog" %>
        </p>
      </li>
    </ul>
  </div>
</section>


<section id="item4">
  <div class="inner">
    <ul class="col2">
      <li>
        <h2>STORY</h2>
        <p></p>
      </li>
      <li>
        <h2>SUCCESS</h2>
        <p></p>
      </li>
    </ul>
  </div>
</section>


<footer id="footer">
  Copyright © Yamaguchi Takahiro portfolio 2019
</footer>
